*{
    margin: 0%;
    padding: 0%;
}

:root{
    --BG: #f4f4f4;
    --BGgray: #bebebe;
    --amarelo: #f1c40f;
    --preto: #2c3e50;
    --cardBg: #fff ;
    --cardBorder: #ccc;
    --depoimento: #808080
}


body{
    background-color: var(--BG);
    color: var(--preto); 

}
header{
    background-color: var(--preto);
    padding: 1%;
}
.logo{
    color: var(--amarelo);

}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}

.menu li a{
    border: var(--cardBorder);
    background-color: var(--amarelo);
    color: var(--preto);
    border-radius: 3px;
    cursor: pointer;
    
    
}

.secao{
    padding: 20px;
    background-color: var(--BGgray);
}
.secao2{
    padding: 20px;
    background-color: var(--BG);
}

.secao h1, .secao h2 , .secao p , .secao2 h1, .secao2 h2, .secao2 p{
    color: var(--preto);
    text-align: center;
    padding: 20px;
}

.itens{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}


.card{
    background-color: var(--cardBg);
    border: 1px solid var(--cardBorder);
    width: 220px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    border-radius: 15px;
    padding: 20px;
}

.card img{
    max-width: 220px;
    min-width: 220px;
}

.card button{
    border: none;
    background-color: var(--amarelo);
    color: var(--preto);
    cursor: pointer;
    border-radius: 15px;
    width: 120px;
   
}
footer{
    color: var(--BG);
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
footer a{
    color: var(--amarelo);
    background-color: var(--preto);

}
footer a:hover{
    text-decoration: underline;

}
.depoimentos{
    background-color: var(--depoimento);
    width: 200px;
    height: 300px;
    color: var(--BG);
    text-align: center;
    border-radius: 5px;
}

.depoimentos img{
    border-radius: 50%;
    
}


.depoimento-lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
}
.depoimento strong{
    color: var(--preto);

}

@media (max-width: 768px) { 
    .menu { flex-direction: column; align-items: flex-end; gap: 10px; }

    .produtos, .depoimento-lista{ flex-direction: column; align-items: center; }

    footer{ flex-direction: column; align-items: center; } }